# This is your Caddy configuration. This default config
# opens a port and serves a static site from the www folder.
# Edit this file according to your needs.

# Remember, Railway terminates TLS before it gets to Caddy.
:8080

handle /api/* {
	reverse_proxy {$API_PRIVATE_DOMAIN}:{$API_PORT}
}

handle /app/* {
	basic_auth {
		{$APP_AUTH_USER} {$APP_AUTH_HASH}
	}
	reverse_proxy {$APP_PRIVATE_DOMAIN}:{$APP_PORT}
}

handle {
	root * /www
	file_server
}
